@media only screen and (max-width: 512px) {
  .nav__header {
    display: flex;
    flex-direction: column-reverse;
  }

  .navbar {
    position: relative;
    flex-direction: column;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav__profile {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .toggle .line:nth-child(1) {
    transform: rotate(-45deg) translate(-12px, 6px);
  }
  .toggle .line:nth-child(2) {
    opacity: 0;
  }
  .toggle .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, 0.2px);
  }

  .nav {
    position: fixed;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(100px at 90% -50%);
    -webkit-clip-path: circle(100px at 90% -50%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  /* .nav .link {
    opacity: 0;
  }

  .nav .link:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav .link:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav .link:nth-child(3) {
    transition: all 0.5s ease 0.8s;
  }

  .link.fade {
    opacity: 1;
  } */

  .nav.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .profile__image {
    max-height: 200px;
    max-width: 200px;
    align-self: center;
  }

  .information {
    margin-top: 3vh;
    margin-bottom: 3vh;
    align-self: center;
    text-align: center;
  }
}

.header {
  margin-right: 6vw;
  margin-left: 6vw;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__profile {
  display: flex;
  margin-left: 1vw;
}

.social__links {
  margin-top: 12px;
}

.social__icon {
  margin-right: 5px;
}

.header__buttons {
  margin-top: 15px;
}

.button {
  background-color: black;
  color: white;
  padding: 12px;
  padding-right: 18px;
  padding-left: 18px;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
}

.user {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 10px;
}

.nav__options {
  font-size: 13px;
  font-weight: 800;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Rubik", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

.displayPicture {
  height: 42px;
  width: 42px;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
}

.profile__image {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 345px;
  width: 345px;
  border: whitesmoke 5px solid;
  border-radius: 50%;
  margin-right: 2vw;
}

.nav__header {
  background: url("https://doeren.com/wp-content/uploads/2020/06/mbl-whats-got-regulators-chirping-webcast-1024x504.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border-bottom: ghostwhite 3px solid;
}

.information {
  margin-left: 0.5vw;
  align-self: center;
}

.information > h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1.5px solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.information > p {
  font-style: italic;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;
}
